@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Noto+Sans+Adlam:wght@400;500;600;700&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/** Livewire tables **/
[x-cloak] {
    display: none !important;
}

/** Smooth scroll offset anchor **/

html {
    scroll-behavior: smooth;
}

:target:before {
    content: "";
    display: block;
    height: 50px;
    margin: -50px 0 0;
}
