@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Noto+Sans+Adlam:wght@400;500;600;700&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/** Livewire tables **/
[x-cloak] {
    display: none !important;
}

/** Smooth scroll offset anchor **/

html {
    scroll-behavior: smooth;
}

:target:before {
    content: "";
    display: block;
    height: 50px;
    margin: -50px 0 0;
}

/** Livewire navigation **/
#nprogress .peg {
    box-shadow: 0 0 10px #ea580c, 0 0 5px #ea580c !important;
}

#nprogress .bar {
    background: #ea580c !important;
}

#nprogress .spinner-icon {
    border-top-color: #ea580c !important;
    border-left-color: #ea580c !important;
}
