@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Noto+Sans+Adlam:wght@400;500;600;700&display=swap");
@import "./boxicons/boxicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/** Livewire tables **/
[x-cloak] {
    display: none !important;
}

/** Smooth scroll offset anchor **/

html {
    scroll-behavior: smooth;
}

:target:before {
    content: "";
    display: block;
    height: 80px;
    margin: -80px 0 0;
}

/** Livewire navigation **/
#nprogress .peg {
    box-shadow: 0 0 10px #ea580c, 0 0 5px #ea580c !important;
}

#nprogress .bar {
    background: #ea580c !important;
}

#nprogress .spinner-icon {
    border-top-color: #ea580c !important;
    border-left-color: #ea580c !important;
}

@media screen and (max-width: 768px) {
    #nprogress .spinner-icon {
        display: none !important;
    }
}

/** Lemon effect **/

@-webkit-keyframes emojis-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@-webkit-keyframes emojis-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes emojis-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@keyframes emojis-shake {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(15px);
    }
    50% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(0px);
    }
}

.emoji-rain {
    z-index: -1;
}

.emoji-rain .emoji {
    color: #fff;
    font-size: 15px;
    position: fixed;
    top: -10%;
    z-index: -1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: emojis-fall, emojis-shake;
    -webkit-animation-duration: 5s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: emojis-fall, emojis-shake;
    animation-duration: 5s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}
.emoji-rain .emoji:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
}
.emoji-rain .emoji:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s;
}
.emoji-rain .emoji:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, 0.5s;
    animation-delay: 6s, 0.5s;
}
.emoji-rain .emoji:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s;
}
.emoji-rain .emoji:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s;
}
.emoji-rain .emoji:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s;
}
.emoji-rain .emoji:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s;
}
.emoji-rain .emoji:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s;
}
.emoji-rain .emoji:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s;
}
.emoji-rain .emoji:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s;
}
